<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>WPSM | Shipping</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <link rel="stylesheet" href="css/foundation.css" />
  <script src="js/vendor/modernizr.js"></script>
</head>

<body ng-app="shipping_app">

  <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
            <h1><a href="Index_A.html">WPSM</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
      <ul class="left">
          <li class="divider"></li>
            <li><a href='Index_A.html'>Home</a></li>
            <li class="divider"></li>
            <li><a href="Packing_A.html">Packing</a></li>
            <li class="divider"></li>
            <li><a href="Shipping_A.html">Shipping</a></li>
            <li class="divider"></li>
            <li><a href="Help_A.html">Help</a></li>
            <li class="divider"></li>
        </ul>
      </section>
  </nav>

  <div class="row">
      <div class="small-12 columns">
          <p> </p>
      </div>
      <div class="small-12 columns">
          <div class="panel callout radius">
            <h1>Shipping</h1>
          </div>
      </div>
      <div class="small-12 columns">
      <div ng-controller="packer_id_controller" >
          <form ng-submit="myForm.submitPackerId()">
              <input type="text" id="packer_id" name="packer_id" ng-model="myForm.packer_id">
          </form>

        <div class="panel">
          {{ message }}
          </div>
      </div>
      <div ng-controller="shipping_id_controller" >
          <form ng-submit="myForm.submitShippingId()">
              <input type="text" id="shipping_id" name="shipping_id" ng-model="myForm.shipping_id">
          </form>
          <div class="panel">
          {{ message }}
          </div>
      </div>
      <div ng-controller="packing_id_controller" >
          <form ng-submit="myForm.submitPackingId()">
              <input type="text" id="packing_id" name="packing_id" ng-model="myForm.packing_id">
          </form>
          <div class="panel">
          {{ message }}
          </div>
      </div>
    </div>
    <div class="small-12 columns">
      <a href="Index_A.html" class="button expand">Home</a>
    </div>
    </div>
<script src="js/Packing_A.js"></script>
<script src="js/foundation.min.js"></script>
<script> $(document).foundation();</script>
</body>

</html>